.header
    h3 Week {{= it.current_week }} Assignment
    h1 {{= it.current_team.name }}


.body
    form(onsubmit='return App.submit(event)')
        textarea(onkeyup="View.textarea_resize(this)")
        input(type='text', placeholder='passphrase')
        input(type='submit', value='save')

.menu
    a.about.active(onclick='View.active("about")') About
    a.roster(onclick='View.active("roster")') Roster
    a.schedule(onclick='View.active("schedule")') Schedule

.menu-body.about.active
    {{ for(var week in it.power_rankings) { }}
    {{~ it.power_rankings[week] :team:index}}
    {{? team.id === it.current_team.id}}
    .meta
        strong Week {{= week }} Rank:
        span {{= index+1 }}
    {{?}}
    {{~}}
    {{ } }}
    .meta
        strong Record:
        span {{= it.current_team.record.display }}
    .meta
        strong Projected Record:
        span {{= it.current_team.record.projected_display }}
    .meta
        strong Points Scored:
        span {{= it.current_team.total_points }}
    .meta
        strong Points Scored (avg):
        span {{= it.current_team.avg_score }}
    .meta
        strong Points High:
        span {{= it.current_team.high_score }}
    .meta
        strong Points Low:
        span {{= it.current_team.low_score }}
    .meta
        strong Projected Points (total):
        span {{= it.current_team.season.season_total }}
    .meta
        strong Projected Points (avg):
        span {{= Math.floor((it.current_team.total_points + it.current_team.season.season_total) / 13) }}

.menu-body.roster
    table
        thead
            tr
                th PRK
                th Name
                th Pts
                th Avg
                th Last
        tbody
            {{~it.current_team.players :player:index}}
            tr
                td {{=player.prk}}
                td.player
                    span.bold {{=player.name}}
                    span.player-position {{=player.position}}
                td {{=player.pts}}
                td {{=player.avg}}
                td {{=player.last}}
            {{~}}
.menu-body.schedule
    table
        thead
            tr
                th Week
                th Opponent
                th Score
                th Result
        tbody
            {{~it.current_team.schedule :game:index}}
            tr
                td {{= index + 1}}
                td.bold {{= game.opponent_name }}
                td {{= (game.score || game.projected_score) }} - {{= (game.opponent_score || game.opponent_projected_score) }}
                td {{= game.result }}
            {{~}}
.footer
    .meta Projections last updated on {{= it.updated }}