@import '00_variables.styl'
@import 'nib'

html
    height 100%
    width 100%
    overflow hidden
    text-size-adjust 100%
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility

body
    position relative
    font-family "Helvetica Neue", "Helvetica", "Arial", sans-serif
    font-size 14px
    color $text
    height 100%
    width 100%
    background-color $bg
    overflow-y scroll

main
    absolute top right bottom left
    height 100%
    padding 45px 15px 100px
