@import '00_variables.styl'
@import 'nib'

table
    background white
    padding 7px
    border-radius 3px
    border-collapse collapse
    border-spacing 0
    tr
        border-bottom 1px solid #ccc    
    th
    td
        text-align left
        white-space nowrap
        vertical-align middle
        padding 5px 20px